<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pethotel">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_transparent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_transparent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Homepage"></activity>
        <activity android:name=".Register" />
        <activity android:name=".SignIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>